<div class="l-container article__container">
    <header class="article-header">
        <div class="text-center">
            <img src="/img/logo.svg" width="400" height="200" alt="Cooking blogs logo">
        </div>
        <div class="d-flex justify-content-center mt-3">
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link" href="#who-we-are">Who We Are</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#our-history">Our History</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#recipe-development--testing">Recipe Development & Testing</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#diversity--inclusion">Diversity & Inclusion</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#comments">Comments</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#product-reviews">Product Reviews</a>
                </li>
            </ul>
        </div>
    </header>
    <div class="article-content mt-4 mx-md-5 px-3">
        <!-- Content here -->
        <div class="text-center justify-content-center mt-3">
            <div class="mb-4 text-center">
                <span class="heading-toc" id="who-we-are"></span>
                <h2 class="h2">Who We Are</h2>
                <p class="text-center text-md-left mx-md-5 text-justify">
                    Welcome to Prince Recipes Blog, your culinary oasis where delicious flavors meet culinary inspiration. Whether you're a seasoned chef or a novice cook, our blog is your go-to destination for mouthwatering recipes, cooking tips, and culinary adventures. From tantalizing appetizers to decadent desserts, we've got you covered with a diverse range of recipes that are sure to delight your taste buds and impress your guests. Join us on a flavorful journey as we explore the world of gastronomy, one recipe at a time. Get ready to unleash your inner chef and embark on a culinary adventure like no other with Prince Recipes Blog!

                </p>
            </div>
        
            <div class="mb-4">
                <span class="heading-toc" id="our-history"></span>
                <h2 class="h2">Our History</h2>
                <p class="text-center text-md-left mx-md-5 text-justify">
                    "Prince Recipes blog has a rich and flavorful history that spans over a decade. Established in 2021 by a passionate group of food enthusiasts, our journey began with a simple mission: to share delicious recipes and culinary inspiration with the world. What started as a humble platform for home cooks to exchange ideas and tips has grown into a vibrant community of food lovers from all walks of life. Over the years, we've evolved with the ever-changing culinary landscape, adapting to new trends and technologies while staying true to our roots. From classic comfort foods to innovative gourmet creations, Prince Recipes has become synonymous with quality, creativity, and a love for all things food. As we look back on our journey, we're grateful for the support of our loyal readers and contributors who have made Prince Recipes a cherished destination for foodies everywhere."</p>
            </div>
        
            <div class="mb-4">
                <span class="heading-toc" id="recipe-development--testing"></span>
                <h2 class="h2">Recipe Development & Testing</h2>
                <p class="mx-md-5 text-justify">
                    Our recipes predominantly feature fresh, unprocessed ingredients, yet we also acknowledge the value of incorporating canned, frozen, and other prepared ingredients when appropriate. We advocate for a balanced diet that embraces a diverse range of foods, including real butter and cream, extra virgin olive oil, eggs, an abundance of fruits and vegetables, and protein from sources like meat, fish, beans, and cheese. And of course, indulging in cake for dessert is always encouraged. </p>
            </div>
            <div class="mb-4">
                <span class="heading-toc" id="diversity--inclusion"></span>
                <h2 class="h2">Diversity & Inclusion</h2>
                <p class="mx-md-5 text-justify">
                  
Our recipes mainly utilize fresh, unprocessed components, while we also recognize the suitability of canned, frozen, and other pre-made ingredients in certain situations. We advocate for a diverse dietary approach, encompassing a range of foods such as authentic butter and cream, premium extra virgin olive oil, eggs, plentiful fruits and vegetables, and protein from sources like meat, fish, beans, and cheese. And of course, there's always room for cake as a delightful dessert option.</p>
            </div>
            <div class="mb-4">
                <span class="heading-toc" id="comments"></span>
                <h2 class="h2">Comments</h2>
                <p class="mx-md-5 text-justify">
                   Any comments from your side will be very helpful for us to grow.</p>
            </div>
           
        </div>
    </div>
</div>
