:root {
    --bs-font-sans-serif: 'Rubik', sans-serif;
}

.container-xl {
    max-width: 90%;
}

body {
    background-image: linear-gradient(to bottom right, #4e4e4e, #383838); /* Dark gradient background */
}

a {
    color: #333; /* Dark gray text color */
}

/* Category style */

.category_link {
    text-align: center;
    display: block;
    text-decoration: none;
    transition: transform 0.25s ease; /* Smooth transition */
}

.category_link:hover {
    transform: scale(1.1); /* Scale up on hover */
}

.category_img {
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: fit-content;
    margin-bottom: 10px;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1); /* Light shadow */
    overflow: hidden;
    border-radius: 8px;
}

.categoryimg {
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 100px;
    margin-bottom: 10px;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1); /* Light shadow */
    overflow: hidden;
    border-radius: 8px;
}

.category_link img {
    width: 100%;
    object-fit: cover;
}

.category_img--large {
    height: 220px;
}

.img-fixed {
    max-width: 70%; /* Set your desired width */
    max-height: fit-content; /* Set your desired height */
    object-fit: cover;
}

/* Bootstrap classes */

.container-xl {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.col {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
}

.col-12 {
    flex: 0 0 100%;
    max-width: 100%;
}

.text-center {
    text-align: center !important;
}

.shadow {
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15) !important;
}
